

.barraControl {
    height: 10%;
    display:flex;
    flex-direction: wrap;
}

.barraControl button
{
   border: none;
   background-color: transparent;
   width: 5%;
   height: 100%;
}

.barraControl button:first-of-type {
    margin-right: 2%;
}

.barraControl img
{
    display: flex;
    width: 50%;
    border: solid black 1px;
    border-radius: 20px;
    padding: 20%;
    margin-left: 1%;
    outline: 1px solid black;
    outline-offset: -4px;
}

.barraControl img:hover {
    -webkit-filter: grayscale(1) invert(1);
    filter: grayscale(1) invert(1);
}

#bienvenida {
    position:absolute;
    right: 2em;
    font-size: 300%;
    height: 1em;

    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #614069;
    background:  #db90ed;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family:  sans-serif;
    
}