.mainMenu
{
    display: flex;
    padding: 2em;
    
}

.divOptions
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.botonesMenu
{
    width: 30vw;
    height: 60vh;
    font-size: 4em;
}

.sectionMenu
{
   flex-direction: column;
}

.mainMenu h1, .mainNiveles h1{

  text-align: center;
  font-size: 4em;

}
