.sectionRanking{
    display: flex;
    flex-direction: wrap;
    align-items: center;
}

#divMapa
{
    width: 60%;
    height: 80%;
}

#divRanking{
    width: 30%;
    height: 80%;
}

*{
    /* border: 1px solid black; */
    overflow: hidden;
}