body {
  background-size: 110vw;
}


*{
    /* border: 1px black solid; */
    margin: 0px;
    padding: 0px;
    /* box-sizing: border-box; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select:none;
    user-select:none;
}
main{

    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

    /* todo lo de arriba es un truqui para que quede 100% centrado en la pantalla,
      verticalmente y horizontalmente. Es muy útil para modals y heros */
    width: 95vw;
    height: 95vh;
    display: flex;
    flex-direction: column;
}
section{
  display: flex;
  justify-content: space-around;
  height: 90%;
}

#logo {
  width: 15%;
  position:absolute;
  right: 0;
  top: 65%
}

#logo:hover {
  width: 16%;
}
